.square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.row:nth-child(even) {

    .square:nth-child(even) {
        background-color: #f0d9b5;
    }

    .square:nth-child(odd) {
        background-color: #b58863;
    }
}

.row {

    .valid-move {
        background-color: rgba(0, 255, 0, 0.5) !important;
        /* Highlight valid move */
    }

    .enemy {
        background-color: rgba(255, 0, 0, 0.5) !important;
        /* Highlight enemy squares */

        /* Add a border for emphasis */
    }
}

.disabled {
    pointer-events: none;
    /* Disable clicks when the game is over */
}

.row:nth-child(odd) {

    .square:nth-child(odd) {
        background-color: #f0d9b5;
    }

    .square:nth-child(even) {
        background-color: #b58863;
    }
}


.selected {
    outline: 3px solid red;
}

.square.selected {
    outline: 2px solid yellow;
    outline-offset: -2px;
}